<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page {{ items.number }}</title>
</head>
<body>
{% for item in items %}
    <p>
        <a href="{% url 'item' item.pk %}">{{ item.name }}</a>
    </p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="{% url 'list' 1 %}">&laquo; first</a>
            <a href="{% url 'list' items.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="{% url 'list' items.next_page_number %}">next</a>
            <a href="{% url 'list' items.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>