<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div>{{ item.link }}</div>
  <div id="chart_div"></div>
  <script>
google.charts.load('current', {packages: ['corechart', 'line'], language: 'ru'});
google.charts.setOnLoadCallback(drawLineColors);

var oneWeekAgo = new Date();
oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);

function drawLineColors() {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'X');
    data.addColumn('number', 'Цена');

    data.addRows(
        {{ price|safe }}
    );

    var options = {
        hAxis: {
            title: 'Дата',
            minValue: oneWeekAgo,
            gridlines: {
                count: 6,
                color: "#554"
            }
        },
        vAxis: {
            title: 'Цена',
            format: '0'
        },
        colors: ['#a52714'],
        pointSize: 5
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
</script>

</body>
</html>